name: Auto Merge VPM PR

on:
    pull_request:
        types: [opened]

jobs:
    automerge:
        runs-on: ubuntu-latest
        steps:
            - name: Auto-merge PR
              uses: pascalgn/automerge-action@v0.16.3
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  MERGE_METHOD: squash
